Shoplite/bin/classes/android Shoplite/bin/classes/com Shoplite/bin/classes/eu Shoplite/bin/classes/it Shoplite/bin/dexedLibs/android-support-v4-ac4066c9bbf029949f6e74ddf72f9707.jar Shoplite/bin/dexedLibs/android-support-v7-appcompat-9725f15e581221b4718d9326e7783b28.jar Shoplite/bin/dexedLibs/appcompat_v7-408dd6f2c8bbd05c3ad20b7d733e13cf.jar Shoplite/bin/dexedLibs/cardslib-dc419aa2443bea4912110bcc504d4248.jar Shoplite/bin/dexedLibs/core-6ddbba0d327111615227e6d64db4f411.jar Shoplite/bin/dexedLibs/google-play-services-203723277ce73b2525a30cb8aa95dfde.jar Shoplite/bin/dexedLibs/google-play-services_lib-d1a12e5dc6ca88850d36c93725701e24.jar Shoplite/bin/dexedLibs/gson-2.2.4-156499e6bf3fcc50f5443dad6e4d2d0a.jar Shoplite/bin/dexedLibs/picasso-2.3.3-053c6ceb53f3db7b0b4a4a199c6ae992.jar Shoplite/bin/dexedLibs/retrofit-1.6.1-c9a21ed5cd6a0a75a3cf1a63f1b93352.jar Shoplite/bin/dexedLibs/shoplitecaptureactivity-fa074639f9d1e75133e75a8ae0e74743.jar Shoplite/bin/res/crunch
Shoplite/gen/android/support Shoplite/gen/com/example Shoplite/gen/com/google Shoplite/gen/eu/livotov Shoplite/gen/it/gmariotti
ShopliteCaptureActivity/bin/classes/com ShopliteCaptureActivity/bin/classes/eu ShopliteCaptureActivity/bin/res/crunch
ShopliteCaptureActivity/gen/eu/livotov
