<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sholite"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
   

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.shoplite.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
            tools:merge="override"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" >
           
        </activity>
        
               
        <activity
            android:name="com.example.shoplite.Verification"
            android:label="@string/title_activity_verification"
            android:theme="@style/AppFullScreenTheme" >
        </activity>
        
        <activity
            android:name="com.shoplite.activities.SettingsActivity"
            android:theme="@style/AppActionBarTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.zxing.client.android.CaptureActivity" />
        </activity>
        
         <activity
            android:name="com.shoplite.activities.CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:theme="@style/AppActionBarTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.zxing.client.android.CaptureActivity" />
        </activity>
        <activity
            android:name="com.shoplite.activities.ItemsDisplayActivity"
            android:theme="@style/AppActionBarTheme"
            android:label="@string/title_activity_items_display">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.zxing.client.android.CaptureActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDPgUuXyn1ouDvZbyWVbaCjUOkzLqcfnFE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
         <uses-library
        	android:name="com.google.android.maps" />

   

    
   

      <meta-data android:name="com.crashlytics.ApiKey" android:value="d2f5efe75cfe6c05220c1f927e8dfe49b15428f7"/>
         

       
    </application>

</manifest>
